@font-face{
    font-family: "AsapRegular";
    src: url('../fonts/Asap/Asap-Regular.ttf');
    src: url('../fonts/Asap/Asap-Regular.ttf')  format('truetype');   
}

@font-face{
    font-family: "AsapMedium";
    src: url('../fonts/Asap/Asap-Medium.ttf');
    src: url('../fonts/Asap/Asap-Medium.ttf')  format('truetype');   
}

@font-face{
    font-family: "AsapSemiBold";
    src: url('../fonts/Asap/Asap-SemiBold.ttf');
    src: url('../fonts/Asap/Asap-SemiBold.ttf')  format('truetype');   
}

@font-face{
    font-family: "AsapBold";
    src: url('../fonts/Asap/Asap-Bold.ttf');
    src: url('../fonts/Asap/Asap-Bold.ttf')  format('truetype');   
}

@font-face{
    font-family: "AsapItalic";
    src: url('../fonts/Asap/Asap-Italic.ttf');
    src: url('../fonts/Asap/Asap-Italic.ttf')  format('truetype');   
}

/*Миксины для шрифтов*/

@mixin asapRegular {
    font-family: "AsapRegular", sans-serif;
}

@mixin asapMedium {
    font-family: "AsapMedium", sans-serif;
}

@mixin asapSemiBold {
    font-family: "AsapSemiBold", sans-serif;
}

@mixin asapItalic {
    font-family: "AsapItalic", sans-serif;
}

@mixin asapBold {
    font-family: "AsapBold", sans-serif;
}